
@model List<MVC.Data.News>
<!--أخبار مصر-->
<!--Sidebar Page Container-->
<div class="sidebar-page-container change-padding">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Content Side-->
            <div class="content-side pull-right col-lg-8 col-md-8 col-sm-12 col-xs-12">

                <!--Category Tabs Box-->
                <div class="category-tabs-box">
                    <!--Product Tabs-->
                    <div class="prod-tabs tabs-box">

                        <!--Tab Btns-->
                        <div class="tab-btns tab-buttons clearfix">
                            <div class="pull-right">
                                <div class="category" style="font-weight: 600;font-size: 21px;">مصر</div>
                            </div>
                            <div class="pull-left">
                                <div>
                                    <div data-tab="#" class="tab-btn" style="color: #e73f43;">المزيد</div>
                                    <div data-tab="#economy-fashion1" class="tab-btn">محافظات</div>
                                    <div data-tab="#economy-design" class="tab-btn active-btn">أخبار مصر</div>


                                </div>
                            </div>

                        </div>

                        <!--Tabs Container-->
                        <div class="tabs-content">


                            @{int idx = 0, NewsCount = 6; }
                            @for (int SectionTap = 1; SectionTap < Model.Count() + 1; SectionTap = SectionTap + NewsCount)


                            {
                                bool AddSecondCol = false;




                                @for (int slideCol = SectionTap; slideCol < (SectionTap + NewsCount) && slideCol < Model.Count() + 1; slideCol++)
                                {

                                    if (slideCol == SectionTap)
                                    {

                                        @Html.Raw("<!--Tab-->\n")

                                        <div class="tab active-tab" id="economy-design">
                                            @Html.Raw("<div class=\"content\">")
                                            @Html.Raw("<div class=\"row clearfix\">")
                                            @Html.Raw("<div class=\"column col-md-6 col-sm-6 col-xs-12\">")

                                            <!--News Block Two-->
                                            <div class="news-block-two with-margin">
                                                <div class="inner-box">
                                                    <div class="image">
                                                        <a href="NewsDetails.aspx"><img data-wow-delay="0ms" data-wow-duration="500ms" src="https://images.akhbarelyom.com/images/images/large/20201124084701261.jpg" alt="" /></a>
                                                        <div class="category"><a href="NewsDetails.aspx">@Model[slideCol - 1].Section.SecTitle</a></div>
                                                    </div>
                                                    <div class="lower-box">
                                                        <h3><a href="NewsDetails.aspx">@Model[slideCol - 1].Title </a></h3>

                                                    </div>
                                                </div>
                                            </div>

                                            


                                        </div>
                                        @Html.Raw("</div>\n</div>\n</div>\n")
                                    }
                                }


                            }
                        </div>
                    </div>

                </div>


            </div>

            <!--Sidebar Side-->
            

        </div>

    </div>
</div>
<!--End Sidebar Page Container-->